PORT=3000
APP_MODULES="all"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/xuxiao_api?schema=public"
JWT_SECRET="please_change_me"
JWT_EXPIRES_IN="7d"
OSS_REGION="oss-cn-beijing"
OSS_BUCKET="your-bucket-name"
OSS_ENDPOINT="https://oss-cn-beijing.aliyuncs.com"
OSS_PUBLIC_BASE_URL="https://your-bucket-name.oss-cn-beijing.aliyuncs.com"
OSS_ACCESS_KEY_ID="your_ram_access_key_id"
OSS_ACCESS_KEY_SECRET="your_ram_access_key_secret"
